<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- LocalDate Bean -->
    <bean id="date" class="java.time.LocalDate" factory-method="now"/>

    <!-- SeasonFinder Bean -->
    <bean id="SeasonFinder" class="sbean.SeasonFinder">
        <property name="date" ref="date"/>
    </bean>

</beans>